.search-section{
    margin: 30px 10px;

    .title{
        display: flex;
        margin-bottom: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: rgb(92, 92, 92);
    }
}
